.App {
  text-align: center;
  font-family: azo-sans-web, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */


.login {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  font-size: 2rem;
  background-image: url('./assets/Somnus_Splash_Page.svg');
  background-repeat: no-repeat;
  background-size: 150%;
  color: white;
}

.login form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.login input {
  font-size: 1.5rem;
  margin: 1rem;
  outline: none;
}

.login button {
  font-size: 2rem;
  background: #ffba08;
	border-radius: 5px;
	margin: 10% 15% 10% 25%;
	padding: 2%;
	border: none;
  width: 50%;
}

.loginButton a {
  color: black;
  text-decoration: none;
}


.signUp {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  font-size: 2rem;
  background-image: url('./assets/Somnus_Splash_Page.svg');
  background-repeat: no-repeat;
  background-size: 150%;
}

.signUp form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.signUp input {
  font-size: 1.5rem;
  margin: 1rem;
  outline: none;
}

.signUp button {
  font-size: 2rem;
  background: #ffba08;
	border-radius: 5px;
	margin: 10% 20%;
	padding: 2%;
	border: none;
	width: 50%;
}

.somnusLogo {
  background-image: url('./assets/Somnus.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 200px;
  position: absolute;
  right: 175px;
  margin-top: 2rem;
}

.login input[type=text] {
  border: none;
  border-bottom: 4px solid #000;
  color: white;
  opacity: 0.5;
  outline: none;
  background: linear-gradient(180deg, #9013FE 29.21%, #B260F9 100%);
  background: transparent;
  
}

.login input[type=password] {
  color: white;
  border: none;
  border-bottom: 4px solid #000;
  opacity: 0.5;
  background: linear-gradient(180deg, #9013FE 29.21%, #B260F9 100%);
  background: transparent;
}

.login input::placeholder {
  color: white;
}

.entry {
  border: 10px solid white;
  margin: 1rem;
  background: linear-gradient(180deg, #9013FE 29.21%, #B260F9 100%);
}

.addEntryButton {
  font-size: 2rem;
  background: #ffba08;
	border-radius: 5px;
	margin: 10% 0;
	padding: 2%;
	border: none;
	width: 50%;
}

.searchButton {
  font-size: 1.6rem;
  background: #ffba08;
	border-radius: 5px;
	padding: 2%;
	border: none;
	width: 50%;
}

.sleep-entry, .update-entry, .search-form {  
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    font-size: 1.8rem;
    background-image: url('./assets/Somnus_Splash_Page.svg');
    background-repeat: no-repeat;
    background-size: 150%;
}

.search {
  margin-top: 100px;
}

.menuImg {
  background-image: url('./assets/Hamburger.png');
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.socialIcons {
  background-image: url('./assets/Social_Media_Icons.png');
  width: 50%;
  height: 20%;  
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 23%;
}

.update-entry {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    font-size: 1.8rem;
    background-image: url('./assets/Somnus_Splash_Page.svg');
    background-repeat: no-repeat;
    background-size: 150%;
    align-items: center;
}
.update-entry form {
  display: flex;
  flex-direction: column;
  margin: 4% 0;
}

.update-entry input, select, textarea {
  margin: 4% 0;
}

.update-entry button {
  background: #ffba08;
	border-radius: 5px;
	margin: 10% 0;
	padding: 2%;
	font-size: 18px;
	border: none;
	width: 50%;
}

.edit-button {
  background: #ffba08;
	border-radius: 5px;
	margin: 10% 4%;
	padding: 2%;
	font-size: 18px;
	border: none;
	width: 30%;
}

.delete-button {
  background: red;
	border-radius: 5px;
	margin: 10% 4%;
	padding: 2%;
	font-size: 18px;
	border: none;
	width: 30%;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

.bm-item {
  display: inline-block;

  /* sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
  outline: none;
}

/* Change color on hover */
.bm-item:hover {
  color: rgba(251, 214, 118, 0.8);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 25px;
  top: 20px;
  opacity: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(180deg, #9013FE 29.21%, #B260F9 100%);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
  fill: #373a47;
} */

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.chart {
  width: 80%;
  margin: auto;
}

.avgFeel {
  font-size: 2rem;
}